@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
/* Estilos del documento html Index*/

/* ------------------- body ----------------- */
body{
    margin: 0px;
    padding: 0px;
}

/* ----------------------- header ---------------------- */
header{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid darkgray;
}

header div{
    width: 80%;
    display: flex;
    flex-direction: row;
}

/* column one */
header div .content-logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div .content-logo img{
    width: 100%;
}

/* column two */
header div .content-nav{
    width: 60%;
}

header div .content-nav nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div .content-nav nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0px;
}

header div .content-nav nav ul li{
    list-style: none;
    padding: 5px 10px;
}

header div .content-nav nav ul li a{
    text-decoration: none;
    color: #020202;
    font-family: 'Mukta', sans-serif;
    font-size: 1.3em;
}

/* column three */
header div .content-logs{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header div .content-logs div:nth-child(1){
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
}
header div .content-logs div:nth-child(1) a svg{
    width: 32px;
    height: 32px;
}
header div .content-logs div:nth-child(2){
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}
header div .content-logs div:nth-child(2) a svg{
    width: 32px;
    height: 32px;
}

/* -------------------------- main ------------------------- */
main h1{
    text-align: justify;
    font-size: 40px;
}
main{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: auto;
    
}
main div {
 text-align: center;
    width: 400px;
    height: 450px;
    color:white;
}

h4{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: black;
    font-size: large;
    font-family:'Times New Roman', Times, serif   
}

p{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    color: black;
    font-size: medium;
    font-family:'Times New Roman', Times, serif
}

button{
    
    color: black;
    font-size: 12px;
    padding: 8px;
    border-color: black;
    border-radius: 14px;
    background: orangered;
    margin: 6px;
    margin-top: 60xp;
    width:50%;
}

/* ----------------------------- footer --------------------- */
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 300px;
    margin-bottom: 30px;
}

footer div{
    width: 80%;
    display: flex;
    justify-content: center;
}

footer div span{
    width: 100%;
    text-align: center;
    color: darkgray;
    font-size: 1.1rem;
    font-family: sans-serif;
}
